body {
	background: rgb(0, 170, 239);


}
.transMoney{
	align-items: center;
}
.transBtn{
	height: 2rem!important;
	position: absolute;
	right: 150px;
}

.transMoneyTs1{
	color: red;
	text-align: center;
	font-size: 2rem;
	padding:20px;
}
.tranferBody{

	position: relative;



}

.version{
	color: white;
	padding: 2rem 0rem;
	text-align: center;
	font-size: 20px;
}


.toast {
	color: white;
	background: black;
	position: absolute;
	width: 10rem;
	height: 3rem;
	line-height:3rem;
    font-size: 1.5rem;
	text-align: center;

	top: 50%;
	left:calc( 50% - 5rem);
	border-radius:1rem ;

}

* {
	margin: 0px;
	padding: 0px;
}

.transIcon {
	text-align: center;
	padding: 5rem 0px;

}

.trans {
	background: #FFFFFF;
	box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 1.125rem;

	min-height: 21.625rem;
	margin: auto;
}

.transBody {
	padding: 0px 6rem;

}

.transMoney {
	display: flex;
	justify-content: center;
}

.money {
	font-size: 5rem;
	text-align: center;
	padding: 1.875rem 0rem;
	display: inline-block;
	position: relative;

	color: red;
}

.money::before {
	content: "￥";
	font-size: 3rem;
	position: absolute;
	top: 2.625rem;
	left: -3.75rem;
}

.transMoneyTs {
	font-size: 1.8rem;
	color: white;

	width: 30rem;
	text-align: center;
	border-radius: 2rem;
	padding: 10px 0px;
	margin: auto;
}

.transTextValue {
	color: rgb(0, 170, 239);
}

.transLi {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 3rem;
	margin-bottom: 2rem;
	align-items: center;
}

.transUl {
	padding: 5rem 0px;
}

.transText {
	display: flex;
	flex-direction: row;
	font-size: 2rem;
}

.transTextName {
	font-size: 2rem;
	color: #6D6B68;
	width: 13rem;
}

.transLiRight {
	color: white;
	background-color: rgb(0, 170, 239);
	/* padding: 5rem 2rem; */
	font-size: 1.5rem;
	width: 6rem;
	text-align: center;
	padding: 1rem 0rem;
	border-radius: 1.25rem;

}

.orderTime {
	text-align: center;
	font-size: 6rem;
	color: white;
	/* padding: 2rem 0rem; */
}

.orderTs {
	text-align: center;
	font-size: 2rem;
	color: white;
	margin-bottom: 50px;

}

.orderTrans {

	font-size: 1.7rem;
	/* padding-top: 5rem; */
	/* text-align: center; */
	background-color: white;
	margin-top: 5rem;
	padding: 2rem 2rem;
	border-radius: 1.125rem;
	color: #6D6B68;
}

.orderTransText {
	margin-bottom: 2rem;
}

.orderTransText:last-child {
	margin-bottom: 0px;
}

@media (min-width:1200px) {
	body {
		width: 600px;
		margin: auto;

	}
	.transBtn{
		height: 1rem!important;
		position: absolute;
		right: 80px;
	}
	

	html {
		background-color: white;
	}

	.transIcon {
		text-align: center;
		padding: 1rem 0px;
	}

	.orderTime {
		text-align: center;
		font-size: 4rem;
		color: white;

	}

	.orderTs {
		text-align: center;
		font-size: 2rem;
		color: white;
		margin-bottom: 30px;
	}

	.transBody {
		padding: 0px 2rem;
	}

	.money {
		font-size: 3rem;
		text-align: center;
		padding: 1.875rem 0rem;
		display: inline-block;
		position: relative;
		color: red;
	}

	.money::before {
		content: "￥";
		font-size: 2rem;
		position: absolute;
		top: 2.625rem;
		left: -2.75rem;
	}

	.transMoneyTs {
		font-size: 0.8rem;
		color: white;
		background: rgb(0, 170, 239);
		width: 15rem;
		text-align: center;
		border-radius: 2rem;
		padding: 10px 0px;
		margin: auto;
	}

	.transTextName {
		font-size: 1rem;
		color: #6D6B68;
		width: 6rem;
	}

	.transLiRight {
		color: white;
		background-color: rgb(0, 170, 239);
		/* padding: 5rem 2rem; */
		font-size: 0.5rem;
		width: 6rem;
		text-align: center;
		padding: 0.5rem 0rem;
		border-radius: 1.25rem;
	}


	.orderTrans {
		font-size: 0.7rem;
		/* padding-top: 5rem; */
		/* text-align: center; */
		background-color: white;
		margin-top: 5rem;
		padding: 1rem 1rem;
		border-radius: 1.125rem;
		color: #6D6B68;
	}

	.orderTransText {
		margin-bottom: 1rem;
	}

	.transUl {
		padding: 2rem 0px;
	}

	.transBody {
		padding: 2rem 2rem;
	}

	.transText {
		display: flex;
		flex-direction: row;
		font-size: 1.5rem;
		align-items: center;
	}

	.transIcon img {
		width: 200px;
	}
	.tranferBody{
	
		position: relative;
	
	
	
	}
	
	.toast {
		color: white;
		background: black;
		position: absolute;
		width: 9rem;
		height: 2rem;
		line-height: 2rem;
	    
		text-align: center;
	
		top: 50%;
		left:calc( 50% - 3.5rem);
		border-radius:1rem ;
	
	}
}
